[default]
port = 1188
# proxy = http://127.0.0.1:7890

[deepl]
enable = true

[youdao]
enable = false
app_key = ""
app_secret = ""

[openai]
enable = false
app_secret = ""

[google]
enable = false
app_secret = ""
