[Unit]
Description=GoldenDict Website API
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/deeplx/DeepLX
WorkingDirectory=/usr/local/deeplx

[Install]
WantedBy=multi-user.target
