[Unit]
Description=GoldenDict Website API
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/gd-website-api/bin/gd-website-api
WorkingDirectory=/usr/local/gd-website-api

[Install]
WantedBy=multi-user.target
